@model ContentModel

@switch (Model.MediaID)
{
    case 1:
        string photoname = Model.Photo == null ? null : Model.Photo.FileName;
        <div id="photomedia" style="display:block">
            <div class="form-group" style="">
                <label class="control-label col-md-4">Select photo file</label>
                <div class="col-md-6">
                    <input type="file" class="form-control" id="photofile" name="Content.Photo.PhotoFile" />
                    @Html.Hidden("Content.Photo.FileName", photoname, new { id = "photofilename" })
                </div>
                <div class="form-group">

                    <img id="photoimg" width="180" height="120" style="display:block" src="~/Images/@photoname" />
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-default" id="delphoto" style="display:block" value="Delete picture" />
                </div>
            </div>
        </div>
        <script>
            InitiateEditPhoto();
        </script>
        break;
    case 2:
    <div id="videolink" style="display:block">
        <div class="form-group">
            <h4> URL for embedded video</h4>
        </div>
        <div class="col-md-6">
            @{
        string vl = Model.VideoLink == null ? null : Model.VideoLink.Link;
            }
            <input type="text" class="form-control" id="videolink" name="Content.VideoLink.Link" value="@vl" />
        </div>
    </div>
    <script>
        InitiateEditVideoLInk();
    </script>
        break;
    case 3:
    <div id="photogallery" style="display:block">
        <div class="form-group">
            <h4>Photo gallery</h4>
        </div>
        @{int index = 0;
          string id;
          string name;
          string hid;
          string hname;
          string imgid;
          string delid;
          string gItemId;
        }
        @if (Model.Gallery != null)
        {
            foreach (var item in Model.Gallery.PhotoFiles)
            {
                gItemId = "galleryitem" + index.ToString();
                <div class="form-group galleryitem" id="@gItemId">
                    <label class="control-label col-md-4">Add photo to gallery</label>
                    <div class="col-md-6">
                        @{
                id = "photofile" + index.ToString();
                name = "Content.Gallery.PhotoFiles[" + index.ToString() + "].PhotoFile";
                        }
                        <input type="file" data-id="@index" class="form-control galleryfile" id="@id" name="@name" />

                        @{
                hid = "photofilename" + index.ToString();
                hname = "Content.Gallery.PhotoFiles[" + index.ToString() + "].FileName";
                        }

                        @Html.Hidden(hname, item.FileName, new { id = hid })
                    </div>

                    <div class="form-group">
                        @{imgid = "photoimg" + index.ToString();}
                        <img id="@imgid" width="180" height="120" style="display:block" src="~/Images/@Model.Gallery.PhotoFiles[index].FileName" />
                    </div>
                    <div class="form-group">
                        @{delid = "delphoto" + index.ToString();}
                        <input type="button" class="btn btn-default delgalleryfile" data-id="@index" id="@delid" style="display:block" value="Delete picture" />
                    </div>
                </div>
                        index++;
            }
        }
        @{  gItemId = "galleryitem" + index.ToString();}
        <div class="form-group galleryitem" id="@gItemId">
            <label class="control-label col-md-4">Add photo to gallery</label>
            <div class="col-md-6">
                @{
            id = "photofile" + index.ToString();
            name = "Content.Gallery.PhotoFiles[" + index.ToString() + "].PhotoFile";
                }
                <input type="file" data-id="@index" class="form-control galleryfile" id="@id" name="@name" />

                @{
            hid = "photofilename" + index.ToString();
            hname = "Content.Gallery.PhotoFiles[" + index.ToString() + "].FileName";
                }

                @Html.Hidden(hname, null, new { id = hid })
            </div>
            <div class="form-group">
                @{ imgid = "photoimg" + index.ToString();}
                <img id="@imgid" width="180" height="120" style="display:none" src="" />
            </div>
            <div class="form-group">
                @{delid = "delphoto" + index.ToString();}
                <input type="button" class="btn btn-default delgalleryfile" data-id="@index" id="@delid" style="display:none" value="Delete picture" />
            </div>
        </div>
    </div>
    <script>
        InitiateEditGallery();
    </script>
                break;
    case 4:
                break;
    default:
                break;
}
